<div>
 <h2>Su código de reserva es: {{ code }}</h2>
 <p>Su reserva se encuentra pendiente, <a href="{{ confirmLink }}">click aqui</a> para confirmar su reserva.</p>
 <p>
 Reserva a nombre de <b>{{ first_name }}</b> <b>{{ last_name }}</b>, para el <b>{{ date }}</b> a las <b>{{ time }}</b>, <b>{{ table }}.</b>
 </p>
 <p>
   También puede cancelar su reserva haciendo <a href="{{ cancelLink }}">click aqui</a> en caso de que usted no la haya solicitado o desee hacerlo.
 </p>
 <p>Atentamente el equipo de reservapp.</p>
</div>